.filtersContainer{
    background-color: #13aa53c2;
    border-radius: 7px;
}
.filtersContainer div:first-child, .filtersContainer div:nth-child(2){
    margin: 2px 0 2px 0 !important;
}
.filtersContainer .col{
    max-width: fit-content;
}
.filtersContainer .col strong{
    height: 100%;
    align-content: center;
}

.toastContainer{
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.toastContainer li{
    list-style-type: none;
  }
  .myTable {
    max-height: 800px;
    overflow: auto;
}
.container table tr:nth-child(even){
    background-color: #f8f8f8
}
.container table tr td p{
    width: 100%;
    text-align: center;
}